Repository cal-itp/benefits, pull requests merged in 2022-09, with the labels that each got.

#889 Docs: Use cases for Seniors
  docs/use-cases/README.md
  docs/use-cases/seniors.md
  mkdocs.yml
Labels: documentation

#892 Fix: local eligibility server
  .devcontainer/server/.env.server
  .devcontainer/server/settings.py
  benefits/core/migrations/0002_sample_data.py
  bin/build.sh
  compose.yml
Labels: deployment-dev, docker

#897 feat(analytics): return Group ID with Returned Success
  benefits/enrollment/analytics.py
  benefits/enrollment/views.py
  tests/pytest/enrollment/test_views.py
Labels: deployment-dev, back-end, analytics

#881 Feat: agency public keys / remote keys
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/core/urls.py
  benefits/core/views.py
  benefits/enrollment/api.py
  tests/pytest/conftest.py
  tests/pytest/core/test_models.py
  tests/pytest/core/test_views.py
Labels: deployment-dev, tests, back-end, security

#893 update references to the Identity Gateway
  docs/README.md
  docs/deployment/infrastructure.md
  docs/use-cases/seniors.md
Labels: documentation, infrastructure

#891 Feat: send eligibility type with eligibility events
  benefits/eligibility/analytics.py
  benefits/eligibility/verify.py
  benefits/eligibility/views.py
  tests/pytest/eligibility/test_verify.py
Labels: deployment-dev, back-end, analytics

#901 Analytics: rename transit agency property
  benefits/core/analytics.py
Labels: deployment-dev, back-end, analytics

#915 Prep release 2022.09.1
  benefits/__init__.py
Labels: deployment-dev, back-end

#917 Deploy 2022.09.1 to test
  .devcontainer/server/.env.server
  .devcontainer/server/settings.py
  .pre-commit-config.yaml
  benefits/__init__.py
  benefits/core/analytics.py
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/core/urls.py
  benefits/core/views.py
  benefits/eligibility/analytics.py
  benefits/eligibility/verify.py
  benefits/eligibility/views.py
  benefits/enrollment/analytics.py
  benefits/enrollment/api.py
  benefits/enrollment/views.py
  bin/build.sh
  compose.yml
  docs/README.md
  docs/deployment/infrastructure.md
  docs/use-cases/README.md
  docs/use-cases/seniors.md
  mkdocs.yml
  tests/cypress/package-lock.json
  tests/cypress/package.json
  tests/pytest/conftest.py
  tests/pytest/core/test_models.py
  tests/pytest/core/test_views.py
  tests/pytest/eligibility/test_verify.py
  tests/pytest/enrollment/test_views.py
Labels: tests, back-end

#918 Release 2022.09.1
  .devcontainer/server/.env.server
  .devcontainer/server/settings.py
  .pre-commit-config.yaml
  benefits/__init__.py
  benefits/core/analytics.py
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/core/urls.py
  benefits/core/views.py
  benefits/eligibility/analytics.py
  benefits/eligibility/verify.py
  benefits/eligibility/views.py
  benefits/enrollment/analytics.py
  benefits/enrollment/api.py
  benefits/enrollment/views.py
  bin/build.sh
  compose.yml
  docs/README.md
  docs/deployment/infrastructure.md
  docs/use-cases/README.md
  docs/use-cases/seniors.md
  mkdocs.yml
  tests/cypress/package-lock.json
  tests/cypress/package.json
  tests/pytest/conftest.py
  tests/pytest/core/test_models.py
  tests/pytest/core/test_views.py
  tests/pytest/eligibility/test_verify.py
  tests/pytest/enrollment/test_views.py
Labels: tests, back-end, docker

#921 Refactor: use common base image
  .devcontainer/server/data.csv
  .devcontainer/server/settings.py
  .github/workflows/labeler-deploy-dev.yml
  appcontainer/Dockerfile
  appcontainer/gunicorn.conf.py
  appcontainer/nginx.conf
  appcontainer/requirements.txt
  bin/build.sh
  bin/start.sh
Labels: docker

#922 Fix: error page translations
  benefits/core/viewmodels.py
  tests/pytest/core/test_viewmodels.py
Labels: deployment-dev, tests, back-end

#925 Devcontainer: debug in non-debug mode
  .vscode/launch.json
  benefits/settings.py
Labels: chore, back-end, docker

#924 Feat: track verifier in all analytic events
  benefits/core/analytics.py
  tests/pytest/conftest.py
Labels: deployment-dev, back-end

#927 Refactor: error page layout and wording
  benefits/core/middleware.py
  benefits/core/viewmodels.py
  benefits/core/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  benefits/templates/200_user_error.html
  tests/pytest/core/test_viewmodels.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/enrollment/test_views.py
Labels: deployment-dev, tests, back-end, i18n

#931 Docs: seniors gif
  .pre-commit-config.yaml
  docs/use-cases/img/senior-success.gif
  docs/use-cases/seniors.md
Labels: documentation

#928 Refactor: 500 page
  benefits/core/viewmodels.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/core/test_viewmodels.py
Labels: deployment-dev, tests, back-end, i18n

#932 One column everything
  benefits/core/templates/core/base.html
  benefits/core/templates/core/page.html
  benefits/core/viewmodels.py
  benefits/core/views.py
  benefits/eligibility/templates/eligibility/start.html
  benefits/eligibility/views.py
  benefits/enrollment/views.py
  benefits/static/css/styles.css
Labels: deployment-dev, back-end

#952 Chore: update State Template
  benefits/core/templates/core/base.html
  benefits/settings.py
Labels: deployment-dev, front-end, back-end

#959 Eligibility Confirm: Update copy, add form input helper text
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/eligibility/forms.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/conftest.py
Labels: deployment-dev, back-end, i18n

#956 Refactor: eligibility start copy
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/eligibility/templates/eligibility/start.html
  benefits/eligibility/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/conftest.py
Labels: deployment-dev, front-end, back-end, i18n

#958 Chore: remove DMV copy
  benefits/core/migrations/0002_sample_data.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  docs/README.md
Labels: documentation, back-end, i18n

#951 Verifier Selection: Update copy, add link
  benefits/core/migrations/0002_sample_data.py
  benefits/eligibility/forms.py
  benefits/eligibility/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: back-end, i18n

#969 Clean up sample data
  benefits/core/migrations/0002_sample_data.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  bin/makemessages.sh
Labels: deployment-dev, back-end, i18n

#966 Chore: rename content_title to headline
  benefits/core/middleware.py
  benefits/core/migrations/0001_initial.py
  benefits/core/migrations/0002_sample_data.py
  benefits/core/models.py
  benefits/core/templates/core/agency_index.html
  benefits/core/templates/core/help.html
  benefits/core/templates/core/page.html
  benefits/core/viewmodels.py
  benefits/core/views.py
  benefits/eligibility/views.py
  benefits/enrollment/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/conftest.py
  tests/pytest/core/test_viewmodels.py
  tests/pytest/eligibility/test_views.py
Labels: tests, front-end, back-end, i18n

#985 Chore: data migration reminders
  .github/ISSUE_TEMPLATE/release.yml
  .github/workflows/labeler-migrations.yml
Labels: chore
