Repository cal-itp/benefits, pull requests merged in 2023-04, with the labels that each got.

#1347 Prepare Release 2023.04.1
  benefits/__init__.py
Labels: deployment-dev, back-end

#1348 Deploy 2023.04.1 to test
  appcontainer/requirements.txt
  benefits/__init__.py
  benefits/sentry.py
  benefits/settings.py
  tests/cypress/package-lock.json
  tests/cypress/package.json
Labels: tests, back-end, docker

#1352 fix(url): fix broken link in docs
  docs/use-cases/courtesy-cards.md
Labels: documentation

#1354 Fix: Docker platform issue
  compose.yml
Labels: docker

#1356 Refactor: move dependencies and metadata to pyproject.toml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .dockerignore
  .github/dependabot.yml
  .github/workflows/labeler-deploy-dev.yml
  .github/workflows/tests-pytest.yml
  appcontainer/Dockerfile
  appcontainer/requirements.txt
  pyproject.toml
  tests/pytest/requirements.txt
Labels: tests, docker, actions

#1365 Feat: Configure a payment processor for SacRT
  benefits/core/migrations/0002_data.py
  terraform/app_service.tf
Labels: deployment-dev, back-end, infrastructure, migrations

#1366 Separate payment processors (test)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .dockerignore
  .github/dependabot.yml
  .github/workflows/labeler-deploy-dev.yml
  .github/workflows/tests-pytest.yml
  .pre-commit-config.yaml
  appcontainer/Dockerfile
  appcontainer/requirements.txt
  benefits/core/migrations/0002_data.py
  benefits/enrollment/templates/enrollment/success.html
  benefits/settings.py
  compose.yml
  docs/use-cases/courtesy-cards.md
  pyproject.toml
  terraform/app_service.tf
  tests/pytest/requirements.txt
Labels: tests, back-end, docker, actions, migrations

#1361 Docs: make Agency Cards use-case more generic
  docs/deployment/infrastructure.md
  docs/use-cases/agency-cards.md
  docs/use-cases/courtesy-cards.md
  mkdocs.yml
Labels: documentation, deliverable, infrastructure

#1358 Feat: Implement strict Content Security Policy
  benefits/core/templates/core/base.html
  benefits/core/templates/core/includes/analytics.html
  benefits/core/templates/core/includes/form.html
  benefits/enrollment/templates/enrollment/index.html
  benefits/sentry.py
  benefits/settings.py
  docs/configuration/content-security-policy.md
  docs/configuration/environment-variables.md
  terraform/app_service.tf
Labels: documentation, deployment-dev, front-end, back-end, security, infrastructure

#1369 Fix: allow unsafe-inline for style-src
  benefits/settings.py
Labels: deployment-dev, back-end

#1360 Fix: Configurable traces sampling rate for Sentry
  benefits/sentry.py
  docs/configuration/environment-variables.md
  terraform/app_service.tf
  tests/pytest/test_sentry.py
Labels: tests, back-end

#1359 Feat: improve traffic filtering at nginx
  appcontainer/Dockerfile
  appcontainer/nginx.conf
  appcontainer/proxy.conf
  benefits/core/middleware.py
  benefits/core/session.py
  benefits/eligibility/views.py
  benefits/settings.py
  docs/configuration/data.md
  docs/configuration/rate-limit.md
  terraform/app_service.tf
  tests/cypress/plugins/helpers.js
  tests/cypress/plugins/index.js
  tests/cypress/specs/benefit-select.cy.js
  tests/cypress/specs/courtesy-cards.cy.js
  tests/cypress/specs/rate-limit.cy.js
  tests/cypress/specs/scrapers.cy.js
  tests/cypress/specs/spanish.cy.js
  tests/pytest/core/test_middleware_healthcheck_user_agent.py
  tests/pytest/core/test_session.py
  tests/pytest/eligibility/test_views.py
Labels: documentation, deployment-dev, tests, back-end, docker

#1370 Chore: prep release 2023.04.2
  benefits/__init__.py
Labels: deployment-dev, back-end

#1371 Deploy 2023.04.2 to test
  .pre-commit-config.yaml
  appcontainer/Dockerfile
  appcontainer/nginx.conf
  appcontainer/proxy.conf
  benefits/__init__.py
  benefits/core/middleware.py
  benefits/core/session.py
  benefits/core/templates/core/base.html
  benefits/core/templates/core/includes/analytics.html
  benefits/core/templates/core/includes/form.html
  benefits/eligibility/views.py
  benefits/enrollment/templates/enrollment/index.html
  benefits/sentry.py
  benefits/settings.py
  docs/configuration/content-security-policy.md
  docs/configuration/data.md
  docs/configuration/environment-variables.md
  docs/configuration/rate-limit.md
  docs/deployment/infrastructure.md
  docs/use-cases/agency-cards.md
  docs/use-cases/courtesy-cards.md
  mkdocs.yml
  terraform/app_service.tf
  tests/cypress/package-lock.json
  tests/cypress/package.json
  tests/cypress/plugins/helpers.js
  tests/cypress/plugins/index.js
  tests/cypress/specs/benefit-select.cy.js
  tests/cypress/specs/courtesy-cards.cy.js
  tests/cypress/specs/rate-limit.cy.js
  tests/cypress/specs/scrapers.cy.js
  tests/cypress/specs/spanish.cy.js
  tests/pytest/core/test_middleware_healthcheck_user_agent.py
  tests/pytest/core/test_session.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/test_sentry.py
Labels: tests, back-end, docker

#1372 Fix: relax the 404 filter
  appcontainer/nginx.conf
  tests/cypress/specs/scrapers.cy.js
Labels: bug, tests, docker

#1373 Deploy to test
  appcontainer/nginx.conf
  tests/cypress/specs/scrapers.cy.js
Labels: tests, docker

#1375 Release 2023.04.2
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .dockerignore
  .github/dependabot.yml
  .github/workflows/labeler-deploy-dev.yml
  .github/workflows/tests-pytest.yml
  .pre-commit-config.yaml
  appcontainer/Dockerfile
  appcontainer/nginx.conf
  appcontainer/proxy.conf
  appcontainer/requirements.txt
  benefits/__init__.py
  benefits/core/middleware.py
  benefits/core/migrations/0002_data.py
  benefits/core/session.py
  benefits/core/templates/core/base.html
  benefits/core/templates/core/includes/analytics.html
  benefits/core/templates/core/includes/form.html
  benefits/eligibility/views.py
  benefits/enrollment/templates/enrollment/index.html
  benefits/enrollment/templates/enrollment/success.html
  benefits/sentry.py
  benefits/settings.py
  compose.yml
  docs/configuration/content-security-policy.md
  docs/configuration/data.md
  docs/configuration/environment-variables.md
  docs/configuration/rate-limit.md
  docs/deployment/infrastructure.md
  docs/use-cases/agency-cards.md
  docs/use-cases/courtesy-cards.md
  mkdocs.yml
  pyproject.toml
  terraform/app_service.tf
  tests/cypress/package-lock.json
  tests/cypress/package.json
  tests/cypress/plugins/helpers.js
  tests/cypress/plugins/index.js
  tests/cypress/specs/benefit-select.cy.js
  tests/cypress/specs/courtesy-cards.cy.js
  tests/cypress/specs/rate-limit.cy.js
  tests/cypress/specs/scrapers.cy.js
  tests/cypress/specs/spanish.cy.js
  tests/pytest/core/test_middleware_healthcheck_user_agent.py
  tests/pytest/core/test_session.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/requirements.txt
  tests/pytest/test_sentry.py
Labels: tests, front-end, back-end, docker, migrations

#1380 Chore: delete unneeded storage container
  terraform/storage.tf
Labels: infrastructure
