Repository cal-itp/benefits, pull requests merged in 2025-07, with the labels that each got.

#3003 Feat: EnrollmentFlow.group_id supports Switchio
  benefits/core/migrations/0052_enrollmentgroup.py
  benefits/core/migrations/0053_remove_enrollmentflow_group_id.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/enrollment.py
  benefits/enrollment_littlepay/admin.py
  benefits/enrollment_littlepay/migrations/0002_littlepaygroup.py
  benefits/enrollment_littlepay/models.py
  benefits/enrollment_switchio/admin.py
  benefits/enrollment_switchio/migrations/0003_switchiogroup.py
  benefits/enrollment_switchio/models.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_enrollment.py
  tests/pytest/core/models/test_enrollment.py
  tests/pytest/enrollment/test_enrollment.py
  tests/pytest/enrollment_littlepay/test_enrollment.py
  tests/pytest/in_person/test_views.py
Labels: tests, migrations

#3020 End of Q2 2025 roadmap update
  docs/enrollment-pathways/README.md
Labels: documentation

#3006 Refactor: class-based view for Eligibility Unverified
  benefits/eligibility/urls.py
  benefits/eligibility/views.py
  tests/pytest/eligibility/test_views.py
Labels: tests, back-end

#3005 Refactor: `LittlepayConfig` and `SwitchioConfig` inherit from `TransitProcessorConfig`
  benefits/core/migrations/0054_transitprocessorconfig.py
  benefits/core/migrations/0055_remove_transitagency_littlepay_config.py
  benefits/core/migrations/0056_remove_transitagency_switchio_config.py
  benefits/core/migrations/0057_remove_transitprocessorconfig_agency_slug.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/transit.py
  benefits/enrollment_littlepay/admin.py
  benefits/enrollment_littlepay/migrations/0003_rename_littlepayconfig_oldlittlepayconfig.py
  benefits/enrollment_littlepay/migrations/0004_littlepayconfig.py
  benefits/enrollment_littlepay/migrations/0005_delete_oldlittlepayconfig.py
  benefits/enrollment_littlepay/models.py
  benefits/enrollment_switchio/admin.py
  benefits/enrollment_switchio/migrations/0004_rename_switchioconfig_oldswitchioconfig.py
  benefits/enrollment_switchio/migrations/0005_switchioconfig_delete_oldswitchioconfig.py
  benefits/enrollment_switchio/models.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_users.py
  tests/pytest/core/models/test_transit.py
  tests/pytest/core/test_views.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/enrollment_littlepay/test_enrollment.py
  tests/pytest/enrollment_littlepay/test_models.py
  tests/pytest/enrollment_littlepay/test_views.py
  tests/pytest/enrollment_switchio/test_models.py
  tests/pytest/enrollment_switchio/test_views.py
  tests/pytest/in_person/test_views.py
  tests/pytest/test_admin.py
Labels: tests, back-end, migrations

#3009 Refactor: class-based view for Eligibility Verified
  benefits/eligibility/views.py
  benefits/oauth/hooks.py
  tests/pytest/conftest.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/oauth/test_hooks.py
Labels: tests, back-end

#3017 Feat: slug and copy context for VCTC
  benefits/core/context/agency.py
  benefits/core/migrations/0058_alter_transitagency_slug.py
  benefits/eligibility/context/agency.py
  benefits/enrollment/context/flow.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: back-end, i18n, migrations

#3029 Docs: update URL for project board
  docs/enrollment-pathways/README.md
Labels: documentation

#3033 Switchio: Help page
  benefits/core/context_processors.py
  benefits/core/templates/core/help.html
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: front-end, back-end, i18n

#3035 Fix: override request method for OAuth verified logic
  benefits/oauth/hooks.py
  tests/pytest/oauth/test_hooks.py
Labels: bug, tests, back-end

#3022 Feat: Switchio enrollment logic - non-expiring discounts
  benefits/enrollment_switchio/enrollment.py
  benefits/enrollment_switchio/views.py
  tests/pytest/conftest.py
  tests/pytest/enrollment_switchio/test_enrollment.py
  tests/pytest/enrollment_switchio/test_views.py
Labels: tests, back-end

#3050 Docs - Fix: Update mobile sidebar color to match theme
  docs/styles/theme.css
Labels: documentation

#3056 Fix: allow `ventura` slug to go through `TransitAgencyPathConverter`
  benefits/core/urls.py
Labels: back-end

#3058 Fix(copy): use correct agency long name
  benefits/core/context/agency.py
  benefits/eligibility/context/agency.py
  benefits/enrollment/context/flow.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: i18n

#3054 Added link to the July newsletter
  docs/product-and-design/newsletter-archive.md
Labels: documentation
