Repository cal-itp/benefits, pull requests merged in 2025-05, with the labels that each got.

#2880 Fix: update copy for in-person enrollment card error
  benefits/in_person/templates/in_person/enrollment/retry.html
Labels: deployment-dev

#2882 Feat: CBV mixin enforces agency in session
  benefits/core/mixins.py
  tests/pytest/core/test_mixins.py
Labels: deployment-dev, tests

#2883 Feat: CBV mixin enforces flow in session
  benefits/core/mixins.py
  tests/pytest/core/test_mixins.py
Labels: tests, back-end

#2887 Feat: CBV mixin sets required reCAPTCHA settings
  benefits/core/mixins.py
  tests/pytest/core/test_mixins.py
Labels: deployment-dev, tests, back-end

#2889 Refactor: enrollment_littlepay app
  benefits/core/admin/transit.py
  benefits/core/migrations/0049_alter_transitagency_littlepay_config.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/common.py
  benefits/core/models/transit.py
  benefits/enrollment_littlepay/__init__.py
  benefits/enrollment_littlepay/admin.py
  benefits/enrollment_littlepay/apps.py
  benefits/enrollment_littlepay/migrations/0001_initial.py
  benefits/enrollment_littlepay/migrations/__init__.py
  benefits/enrollment_littlepay/models.py
  benefits/enrollment_littlepay/views.py
  benefits/settings.py
  tests/pytest/conftest.py
  tests/pytest/core/models/test_transit.py
Labels: deployment-dev, migrations

#2898 Fix: Admin - Fix secondary button text color
  benefits/in_person/templates/in_person/enrollment/success.html
Labels: deployment-dev, front-end

#2890 CI: Unified Sprint Board automation
  .github/workflows/add-to-project-dependabot.yml
  .github/workflows/add-to-project-issues.yml
Labels: chore, actions

#2911 Feat: `enrollment_switchio` app
  benefits/core/admin/transit.py
  benefits/core/migrations/0050_alter_transitagency_switchio_config.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/transit.py
  benefits/enrollment_switchio/__init__.py
  benefits/enrollment_switchio/admin.py
  benefits/enrollment_switchio/apps.py
  benefits/enrollment_switchio/migrations/0001_initial.py
  benefits/enrollment_switchio/migrations/__init__.py
  benefits/enrollment_switchio/models.py
  benefits/enrollment_switchio/views.py
  benefits/settings.py
  tests/pytest/conftest.py
  tests/pytest/core/models/test_transit.py
Labels: deployment-dev, tests, back-end

#2910 Refactor: move `enrollment` and `session` code to `enrollment_littlepay` app
  benefits/core/session.py
  benefits/enrollment/enrollment.py
  benefits/enrollment/views.py
  benefits/enrollment_littlepay/enrollment.py
  benefits/enrollment_littlepay/session.py
  benefits/in_person/views.py
  tests/pytest/core/test_session.py
  tests/pytest/enrollment/test_enrollment.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/enrollment_littlepay/test_session.py
  tests/pytest/in_person/test_views.py
  tests/pytest/oauth/test_hooks.py
Labels: deployment-dev, tests

#2932 Feat: CBV mixin enforces eligible sessions
  benefits/core/mixins.py
  tests/pytest/core/test_mixins.py
Labels: deployment-dev, tests, back-end

#2930 Refactor: add enrollment_littlepay index view
  benefits/core/models/enrollment.py
  benefits/core/models/transit.py
  benefits/enrollment/views.py
  benefits/enrollment_littlepay/models.py
  benefits/enrollment_littlepay/templates/enrollment_littlepay/index.html
  benefits/enrollment_littlepay/views.py
  benefits/in_person/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/core/models/test_transit.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/enrollment_littlepay/__init__.py
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests, front-end, back-end

#2934 Refactor: add enrollment_littlepay token view
  benefits/enrollment/urls.py
  benefits/enrollment/views.py
  benefits/enrollment_littlepay/templates/enrollment_littlepay/index.html
  benefits/enrollment_littlepay/urls.py
  benefits/enrollment_littlepay/views.py
  benefits/routes.py
  benefits/urls.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests, front-end, back-end

#2941 Chore: Littlepay `IndexView` test follow-up
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests

#2943 Feat: additional Littlepay card types
  benefits/enrollment_littlepay/templates/enrollment_littlepay/index.html
  benefits/enrollment_littlepay/views.py
  benefits/settings.py
  terraform/app_service.tf
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests, back-end, infrastructure

#2944 docs: agency table update
  docs/README.md
Labels: documentation

#2928 Feat: define Switchio Index and GatewayUrl views
  benefits/enrollment_switchio/models.py
  benefits/enrollment_switchio/templates/enrollment_switchio/index.html
  benefits/enrollment_switchio/views.py
  tests/pytest/enrollment_switchio/__init__.py
  tests/pytest/enrollment_switchio/test_views.py
Labels: deployment-dev, tests, front-end, back-end

#2948 Refactor: redirect to enrollment views
  benefits/enrollment/enrollment.py
  benefits/enrollment/views.py
  benefits/enrollment_littlepay/urls.py
  benefits/enrollment_littlepay/views.py
  benefits/routes.py
  tests/pytest/enrollment/test_enrollment.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/enrollment_littlepay/test_enrollment.py
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests, back-end

#2946 Feat: Switchio API module
  benefits/enrollment_switchio/api.py
  tests/pytest/enrollment_switchio/test_api.py
Labels: tests, back-end
