Repository cal-itp/benefits, pull requests merged in 2025-08, with the labels that each got.

#3061 Fix: remove anonymous blob access to storage account
  terraform/storage.tf
Labels: infrastructure

#2970 Docs: diagram for Switchio enrollment logic
  docs/development/application-logic.md
Labels: documentation

#3062 Refactor: use `vctc` slug instead of `ventura`
  benefits/core/context/agency.py
  benefits/core/migrations/0059_vctc_transitagency_slug.py
  benefits/eligibility/context/agency.py
  benefits/enrollment/context/flow.py
Labels: back-end, migrations

#2950 Feat: Buildkit caching for Docker builds
  .devcontainer/Dockerfile
  .dockerignore
  .github/workflows/deploy.yml
  appcontainer/Dockerfile
  pyproject.toml
Labels: docker

#3065 Refactor: class-based view for Eligibility Index
  benefits/core/models/transit.py
  benefits/eligibility/context/__init__.py
  benefits/eligibility/context/agency.py
  benefits/eligibility/urls.py
  benefits/eligibility/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/eligibility/context/test_agency.py
  tests/pytest/eligibility/test_forms.py
  tests/pytest/eligibility/test_views.py
Labels: tests, back-end, i18n

#3073 Refactor: Class-based views - Enrollment Index
  benefits/enrollment/urls.py
  benefits/enrollment/views.py
  tests/pytest/enrollment/test_views.py
Labels: back-end

#3082 Feat: base Enrollment view for in-person
  benefits/core/models/transit.py
  benefits/enrollment/views.py
  benefits/in_person/urls.py
  benefits/in_person/views.py
  benefits/routes.py
  tests/pytest/core/models/test_transit.py
  tests/pytest/in_person/test_views.py
Labels: tests, back-end

#3085 Feat: Support in-person for Switchio
  benefits/enrollment/enrollment.py
  benefits/enrollment_switchio/enrollment.py
  benefits/enrollment_switchio/templates/enrollment_switchio/index.html
  benefits/enrollment_switchio/templates/enrollment_switchio/script.html
  benefits/enrollment_switchio/views.py
  benefits/in_person/templates/in_person/enrollment/index_switchio.html
  benefits/in_person/urls.py
  benefits/in_person/views.py
  benefits/routes.py
  tests/pytest/enrollment/test_enrollment.py
  tests/pytest/enrollment_switchio/test_enrollment.py
  tests/pytest/enrollment_switchio/test_views.py
  tests/pytest/in_person/test_views.py
Labels: tests, front-end, back-end

#3107 Fix: Switchio in-person UX
  benefits/enrollment_switchio/templates/enrollment_switchio/script.html
  benefits/in_person/templates/in_person/enrollment/index_switchio.html
  benefits/in_person/templates/in_person/enrollment/switchio_script.html
  benefits/in_person/views.py
  tests/pytest/in_person/test_views.py
Labels: tests, front-end, back-end

#3114 Fix: allow language cookie to travel with user
  benefits/settings.py
Labels: bug, back-end, i18n
