Repository cal-itp/benefits, pull requests merged in 2025-09, with the labels that each got.

#3132 Refactor: class-based view for Eligibility Confirm
  benefits/core/admin/enrollment.py
  benefits/core/migrations/0060_remove_enrollmentflow_eligibility_form_class.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/enrollment.py
  benefits/core/views.py
  benefits/eligibility/urls.py
  benefits/eligibility/views.py
  benefits/oauth/hooks.py
  benefits/oauth/middleware.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_enrollment.py
  tests/pytest/core/models/test_enrollment.py
  tests/pytest/eligibility/test_views.py
  tests/pytest/oauth/test_hooks.py
  tests/pytest/oauth/test_middleware.py
Labels: tests, back-end, migrations

#3158 Feat: per-agency card scheme support
  benefits/core/context_processors.py
  benefits/core/migrations/0064_transitagency_supported_card_schemes.py
  benefits/core/models/__init__.py
  benefits/core/models/transit.py
  benefits/core/templates/core/help.html
  benefits/core/templates/core/includes/list--card-schemes.html
  benefits/core/urls.py
  benefits/core/views.py
  benefits/eligibility/templates/eligibility/includes/modal--contactless.html
  benefits/eligibility/templates/eligibility/start.html
  benefits/enrollment/templates/enrollment/includes/alert-box--warning--calfresh.html
  benefits/enrollment/templates/enrollment/index-base.html
  benefits/enrollment_littlepay/enrollment.py
  benefits/enrollment_littlepay/templates/enrollment_littlepay/index.html
  benefits/enrollment_littlepay/views.py
  benefits/in_person/templates/in_person/enrollment/index_littlepay.html
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/core/models/test_transit.py
  tests/pytest/core/test_context_processors.py
  tests/pytest/core/test_views.py
  tests/pytest/enrollment_littlepay/test_enrollment.py
  tests/pytest/enrollment_littlepay/test_views.py
Labels: tests, front-end, back-end, migrations

#3168 Chore: cleanup cardtypes flag
  benefits/core/context_processors.py
  benefits/settings.py
  docs/configuration/environment-variables.md
  terraform/app_service.tf
  tests/pytest/core/test_context_processors.py
Labels: documentation, tests, back-end, infrastructure

#3201 docs: added link to September newsletter
  docs/product-and-design/newsletter-archive.md
Labels: documentation
