Repository cal-itp/benefits, pull requests merged in 2025-04, with the labels that each got.

#2810 Chore: update Eligibility context
  benefits/core/context/__init__.py
  benefits/eligibility/context/agency.py
  benefits/eligibility/context/flow.py
  benefits/enrollment/context/flow.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: deployment-dev, back-end, i18n

#2791 Refactor: use cdt_identity `post_logout` view
  benefits/oauth/urls.py
  benefits/oauth/views.py
  tests/pytest/oauth/test_views.py
Labels: deployment-dev, tests, back-end

#2812 Refactor: update copy on card for in-person enrollment
  benefits/templates/admin/agency-dashboard-index.html
Labels: deployment-dev, front-end

#2798 Admin: Add Noto font
  benefits/settings.py
  benefits/static/css/admin/theme.css
  benefits/templates/admin/base.html
Labels: deployment-dev, front-end, back-end

#2796 Admin: Fixes to Log In/Out and Agency Dashboard page
  benefits/static/css/admin/styles.css
  benefits/static/css/admin/theme.css
  benefits/templates/admin/agency-dashboard-index.html
  benefits/templates/admin/login.html
Labels: deployment-dev

#2808 Refactor: use cdt_identity `cancel` view
  benefits/oauth/urls.py
  benefits/oauth/views.py
  tests/pytest/oauth/test_views.py
Labels: deployment-dev, tests, back-end

#2793 Refactor: use cdt_identity `login` view
  benefits/oauth/urls.py
  benefits/oauth/views.py
  benefits/urls.py
  tests/pytest/oauth/test_views.py
Labels: deployment-dev, back-end

#2818 Refactor: enrollment index templates
  benefits/core/admin/enrollment.py
  benefits/core/migrations/0044_remove_enrollmentflow_enrollment_index_template_override.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/enrollment.py
  benefits/enrollment/context/__init__.py
  benefits/enrollment/context/flow.py
  benefits/enrollment/templates/enrollment/index--agency-card.html
  benefits/enrollment/templates/enrollment/index--calfresh.html
  benefits/enrollment/templates/enrollment/index.html
  benefits/enrollment/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_enrollment.py
  tests/pytest/core/models/test_enrollment.py
  tests/pytest/enrollment/test_views.py
Labels: deployment-dev, tests, front-end, back-end, i18n, migrations

#2819 Refactor: use cdt_identity `logout` view
  benefits/oauth/urls.py
  benefits/oauth/views.py
  tests/pytest/oauth/test_hooks.py
  tests/pytest/oauth/test_views.py
Labels: deployment-dev, tests, back-end

#2821 Refactor: OAuth URLconf
  benefits/oauth/urls.py
  benefits/routes.py
  benefits/urls.py
Labels: back-end

#2822 Feat: default descending sort on date for enrollments list
  benefits/core/admin/enrollment.py
Labels: deployment-dev, back-end

#2823 Fix: set a custom plural name for TransitAgency
  benefits/core/migrations/0045_alter_transitagency_options.py
  benefits/core/models/transit.py
Labels: deployment-dev, back-end, migrations

#2826 Refactor: remove dead code from `oauth`
  benefits/oauth/client.py
  benefits/oauth/redirects.py
  benefits/oauth/urls.py
  benefits/oauth/views.py
  benefits/routes.py
  pyproject.toml
  tests/pytest/oauth/conftest.py
  tests/pytest/oauth/test_client.py
  tests/pytest/oauth/test_redirects.py
  tests/pytest/oauth/test_views.py
Labels: deployment-dev, tests, back-end

#2824 Refactor: remove unnecessary usage of `translate`
  benefits/core/templates/core/index--agency.html
  benefits/eligibility/templates/eligibility/start.html
Labels: deployment-dev, front-end

#2834 Refactor: delete unneeded LoginRequired middleware
  benefits/core/middleware.py
  benefits/eligibility/views.py
  tests/pytest/core/test_middleware_login_required.py
Labels: deployment-dev, tests, back-end

#2836 Chore: update to Python 3.12
  .github/workflows/.python-version
  pyproject.toml
Labels: deployment-dev, actions

#2846 Chore: update pillow to 11.2.1
  pyproject.toml
Labels: deployment-dev

#2845 Fix: check if flow uses claims verification
  benefits/core/session.py
  tests/pytest/core/test_session.py
Labels: deployment-dev, tests, back-end

#2854 Refactor: Littlepay config
  benefits/core/admin/transit.py
  benefits/core/migrations/0046_littlepayconfig.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/transit.py
  benefits/enrollment/enrollment.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_transit.py
  tests/pytest/core/admin/test_users.py
  tests/pytest/core/models/test_transit.py
  tests/pytest/core/test_views.py
  tests/pytest/test_admin.py
Labels: deployment-dev, tests, back-end

#2858 docs: adding VCTC + roadmap updates
  docs/README.md
  docs/enrollment-pathways/README.md
Labels: documentation

#2857 Feat: Switchio config
  benefits/core/admin/transit.py
  benefits/core/migrations/0047_switchioconfig.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/__init__.py
  benefits/core/models/transit.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_transit.py
  tests/pytest/core/models/test_transit.py
Labels: deployment-dev, tests, migrations

#2863 Refactor: modal w/ info about transit processor
  benefits/core/models/enrollment.py
  benefits/core/models/transit.py
  benefits/enrollment/templates/enrollment/includes/modal--littlepay.html
  benefits/enrollment/templates/enrollment/includes/modal--transit-processor.html
  benefits/enrollment/templates/enrollment/index.html
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
Labels: deployment-dev, front-end, i18n

#2865 Refactor: use enrollment index template from littlepay / switchio config
  benefits/core/models/transit.py
  benefits/enrollment/templates/enrollment/index--littlepay.html
  benefits/enrollment/templates/enrollment/index--switchio.html
  benefits/enrollment/templates/enrollment/index-base.html
  benefits/enrollment/views.py
  benefits/locale/en/LC_MESSAGES/django.po
  benefits/locale/es/LC_MESSAGES/django.po
  tests/pytest/core/models/test_transit.py
Labels: tests, front-end, back-end

#2866 Refactor: remove card tokenize fields
  benefits/core/admin/transit.py
  benefits/core/migrations/0048_remove_card_tokenize_fields.py
  benefits/core/migrations/local_fixtures.json
  benefits/core/models/transit.py
  benefits/enrollment/templates/enrollment/index--littlepay.html
  benefits/enrollment/views.py
  benefits/in_person/templates/in_person/enrollment/index.html
  benefits/in_person/views.py
  tests/pytest/conftest.py
  tests/pytest/core/admin/test_transit.py
  tests/pytest/enrollment/test_views.py
  tests/pytest/in_person/test_views.py
Labels: deployment-dev, tests, i18n, migrations
